<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name= "viewport" content="width= device-width">

    <title>WELCOME TO TODO LIST</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <header>
      <div class="container" align="center">
        <h1>--TODO LIST APPLICATION--</h1>
   </header>

     <section id="Play" align="center">
     <div class ="container">
       
    <form action="/add-todo" method="post"> 
        <h2>TODO</h2>
        <ul>
        <li> <input type="text" name="name" placeholder="Name" value=""> </li> 
        <li> <input type="text" name="todo" placeholder="todo-1"value=""> </li>
        </ul>
        <button type= "submit" class="button">MAKE LIST</button>
    </form>
      </div>
     </section>

  </body>
</html>
